import init.trebon.usb.rc

on early-init
    export SECONDARY_STORAGE /mnt/emmc
    export EXTERNAL_STORAGE /mnt/sdcard
    mkdir /mnt 0775 system system
    mkdir /mnt/emmc 0775 system system
    mkdir /mnt/sdcard 0775 system system
    mkdir /mnt/usbdisk 0775 system system
    mkdir /efs 0771 radio system
   
    # for backwards compatibility
    symlink /mnt/emmc /emmc
    symlink /mnt/sdcard /sdcard

on fs

# mount mmc partitions
    mount ext4 /dev/block/mmcblk0p16 /system /system noatime wait ro
    mount ext4 /dev/block/mmcblk0p17 /cache nosuid nodev noatime wait
    mount ext4 /dev/block/mmcblk0p18 /data  nosuid nodev noatime wait noauto_da_alloc


    mount ext4 /dev/block/mmcblk0p19 /efs nosuid nodev noatime wait
    mkdir /efs/bluetooth
    mkdir /efs/wifi
    chown radio system /efs/bluetooth
    chown radio system /efs/wifi
    chmod 0775 /efs/bluetooth
    chmod 0775 /efs/wifi
    
    mkdir /data/misc/vpn/profiles 0770 system system
    mkdir /data/misc/radio 0775 radio system
    chmod 0770 /data/misc/wifi 

on post-fs

    
   # give system access to wpa_supplicant.conf for backup and restore
    mkdir /data/misc/wifi 0770 wifi wifi
    chmod 0770 /data/misc/wifi
    chmod 0660 /data/misc/wifi/wpa_supplicant.conf
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp
    

	

    # for TRP/TIS
    write /data/.psm.info 1
    chown system root /data/.psm.info
    chmod 0660 /data/.psm.info

# NFC
    setprop ro.nfc.port "I2C"
    chmod 0600 /dev/pn544
    chown nfc nfc /dev/pn544

# create data/gps for GPS demon
    mkdir /data/gps 771 gps system
    chown gps system /data/gps

# change the permission sensor chips
    chown root system /dev/alps_io
    chmod 0660 /dev/alps_io

# create lash torch file for torch mode
    chmod 0660 /sys/class/camera/rear/rear_flash
    chown system system /sys/class/camera/rear/rear_flash

   # create log system
    mkdir /data/log 0775 system log
    chown system log /data/log

    chmod 0775 /data/log
    chmod 0775 /data/anr

    chmod 0662 /dev/log/radio
    chmod 0662 /dev/log/main
    chmod 0662 /dev/log/event

 # Permissions for System Server and daemons.

    chown radio radio /sys/devices/virtual/pdp/pdp/waketime

    chown radio system /sys/android_power/state
    chown radio system /sys/android_power/request_state
    chown radio system /sys/android_power/acquire_full_wake_lock
    chown radio system /sys/android_power/acquire_partial_wake_lock
    chown radio system /sys/android_power/release_wake_lock
    chown radio system /sys/power/state
    chown radio system /sys/power/wake_lock
    chown radio system /sys/power/wake_unlock
    chmod 0660 /sys/power/state
    chmod 0660 /sys/power/wake_lock
    chmod 0660 /sys/power/wake_unlock
    chown system system /sys/class/timed_output/vibrator/enable
    chmod 0664 /sys/devices/virtual/sec/sec_qtkey/brightness
    chown system system /sys/devices/virtual/sec/sec_qtkey/brightness
    chown system system /sys/class/leds/lcd-backlight/brightness
    chown system system /sys/class/leds/button-backlight/brightness
    chown system system /sys/class/leds/jogball-backlight/brightness
    chown system system /sys/class/leds/red/brightness
    chown system system /sys/class/leds/green/brightness
    chown system system /sys/class/leds/blue/brightness
    chown system system /sys/class/leds/red/device/grpfreq
    chown system system /sys/class/leds/red/device/grppwm
    chown system system /sys/class/leds/red/device/blink
    chown system system /sys/class/leds/red/brightness
    chown system system /sys/class/leds/green/brightness
    chown system system /sys/class/leds/blue/brightness
    chown system system /sys/class/leds/red/device/grpfreq
    chown system system /sys/class/leds/red/device/grppwm
    chown system system /sys/class/leds/red/device/blink
    chown system system /sys/class/timed_output/vibrator/enable
    chown system system /sys/module/sco/parameters/disable_esco
    chown system system /sys/kernel/ipv4/tcp_wmem_min
    chown system system /sys/kernel/ipv4/tcp_wmem_def
    chown system system /sys/kernel/ipv4/tcp_wmem_max
    chown system system /sys/kernel/ipv4/tcp_rmem_min
    chown system system /sys/kernel/ipv4/tcp_rmem_def
    chown system system /sys/kernel/ipv4/tcp_rmem_max
	chown system system /system/etc/sensors.dat
	chown system system /system/etc/calib.dat
	chown system system /system/etc/param.dat
	chmod 0664 /system/etc/sensors.dat
	chmod 0664 /system/etc/calib.dat
	chmod 0664 /system/etc/param.dat
    chown root radio /proc/cmdline
    chown system input /sys/class/sensors/accelerometer_sensor/calibration
    chown system system /sys/class/input/input2/enable
    chown system system /sys/class/sec/sec_touchscreen/disp_all_refdata
    chown radio system /sys/devices/virtual/sec/sec_touchkey/touchkey_raw_data
    chown radio system /sys/class/sec/sec_touchscreen/disp_all_insdata
    chown radio system /sys/class/sec/sec_touchscreen/disp_all_intdata
	chmod 1664 sys/class/misc/zinitix_touch_misc
    chown radio fm_radio /sys/devices/platform/gpio-event/wakeup_keys

#change permissions for battery
    chown radio radio /sys/class/power_supply/battery/call
    chown radio radio /sys/class/power_supply/battery/video
    chown radio radio /sys/class/power_supply/battery/music
    chown radio radio /sys/class/power_supply/battery/browser
    chown radio radio /sys/class/power_supply/battery/hotspot
    chown radio radio /sys/class/power_supply/battery/camera
    chown radio radio /sys/class/power_supply/battery/data_call
    chown radio radio /sys/class/power_supply/battery/gps
    chown radio system /sys/class/power_supply/battery/batt_use
    
# RTC
    chown radio system /sys/class/rtc/rtc0/bootalarm
    chmod 0664 /sys/class/rtc/rtc0/bootalarm

on boot

service wlandutservice /system/bin/wlandutservice
    user system
    group wifi net_raw net_admin system inet
    disabled
    oneshot


service wpa_supplicant /system/bin/wpa_supplicant -Dar6003 -iwlan0 -c/data/misc/wifi/wpa_supplicant.conf
    class main
    socket wpa_wlan0 dgram 0660 wifi wifi
    user wifi
    group wifi system inet net_admin net_raw keystore
    disabled
    oneshot


service hostapd /system/bin/hostapd /data/misc/wifi/hostapd.conf
    class main
    socket hostapd_softap0 dgram 660 system wifi
    user system
    group wifi net_raw net_admin system inet keystore
    oneshot
    disabled

service dhcpcd /system/bin/dhcpcd wlan0
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
    disabled
    oneshot

service wlan_tool /system/bin/wlan_tool
    disabled
    oneshot

service hciattach /system/bin/sh /system/etc/init.qcom.bt.sh
    user bluetooth
    group qcom_oncrpc bluetooth net_bt_admin
    disabled
    oneshot

service abtfilt /system/bin/abtfilt -d -z -n -v -s -a
    user bluetooth
    group system bluetooth net_bt_admin inet net_raw
    disabled
    oneshot

# end of wifi

service racoon /system/bin/racoon
    socket racoon stream 600 system system
    # racoon will setuid to vpn after getting necessary resources.
    group net_admin
    disabled
    oneshot

service mtpd /system/bin/mtpd
    socket mtpd stream 600 system system
    user vpn
    group vpn net_admin net_raw
    disabled
    oneshot

service keystore /system/bin/keystore /data/misc/keystore
    user keystore
    group keystore
    socket keystore stream 666

service dumpstate /system/bin/dumpstate -s
    socket dumpstate stream 0660 shell log
    disabled
    oneshot

service fm_dl /system/bin/sh /system/etc/init.qcom.fm.sh
    user root
    group system qcom_oncrpc
    disabled
    oneshot

service qcom-wifi /system/bin/sh /system/etc/init.qcom.wifi.sh
    user root
    disabled	
    oneshot

on property:init.svc.wpa_supplicant=stopped
    stop dhcpcd

on property:init.svc.bluetoothd=running
    write /sys/class/bluetooth/hci0/idle_timeout 7000

service rmt_storage /system/bin/rmt_storage /dev/block/mmcblk0p10 /dev/block/mmcblk0p11
    user root
    disabled

on property:ro.emmc=1
    start rmt_storage


service bridgemgrd /system/bin/bridgemgrd
    user radio
    group radio
    disabled

service port-bridge /system/bin/port-bridge /dev/smd0 /dev/ttyGS0
    user system
    group system inet
    disabled


on property:ro.baseband="unknown"
    start port-bridge

service qmiproxy /system/bin/qmiproxy
    user radio
    group radio
    disabled

service qmuxd /system/bin/qmuxd
    user radio
    group radio
    disabled
